*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.nav-container{
  width: 100vw;
  height: 75px;
  top: 0px;
  background-color: var(--c-bg-body);
  border-bottom: 2px solid #45f3ff;
}

.nav-buttons{
  justify-content: center;
  display: flex;
}

.nav-button{
  display: inline-block;
}

.nv-btn{
  background-color: var(--c-bg-button);
  border: transparent;
  border-radius: 5px 30px;
  
  height: 30px;
  width: 150px;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 18.75px;
}

.nv-log{
  background-color: var(--c-bg-body);
  border: transparent;
  border-radius: 5px 30px;
  float: right;
  margin-right: 25px;
  transform: translateY(-100%)
}

.nv-btn, .nv-log{
  font-weight: bold;
}

.nv-btn:hover, .nv-log:hover{
  background-color: var(--c-text-secondary);
  box-shadow: 10px 10px 25px var(--c-bg-button);
}

:root {
    --c-text-primary: #191919;
    --c-text-secondary: #737374;
    --c-border-primary: #ccc;
    --c-bg-body: #696969;
    --c-bg-primary: #fff;
    --c-bg-secondary: #d4d8dd;
    --c-bg-button: #fff;
  }
  :root.dark-theme {
    --c-text-primary: #eee;
    --c-text-secondary: #d3d5db;
    --c-border-primary: #454545;
    --c-bg-body: #5e5e5e;
    --c-bg-primary: #323339;
    --c-bg-secondary: #222128;
    --c-bg-button: #494a50;
  }
  :root.black-theme {
    --c-text-primary: #edeeef;
    --c-text-secondary: #d4d7e1;
    --c-border-primary: #323232;
    --c-bg-body: #000;
    --c-bg-primary: #1b1d23;
    --c-bg-secondary: #000001;
    --c-bg-button: #343844;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.5;
    justify-content: center;
    background-color: var(--c-bg-body);
    transform: background-color 1s ease;
    color: var(--c-text-primary);
  }
  
  .menu {
    width: 40vw;
    margin-top: 80px;
    margin-left: 30vw;
    background-color: var(--c-bg-primary);
    transition: background-color .30s ease;
    border-radius: 15px;
	transform: scale(0.85);
  }

  .menu-header {
    padding: 1rem;
  }

  .down{
      margin-top: 60px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;
  }
  
  .menu-heaser-title {
    font-size: 1.2rem;
    color: var(--c-text-secondary);
    font-weight: 700;
  }
  
  .theme-switcher input {
    display: none;
  }
  
  .theme-switcher {
    position: relative;
    background-color: var(--c-bg-secondary);
    border-radius: 10px;
    display: flex;
    padding: 0 3px;
  }
  
  .theme-switcher label {
    position: relative;
    z-index: 2;
    width: calc(100% / 3);
    color: var(--c-text-secondary);
  }
  
  .theme-switcher label span {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
    opacity: 0.8;
  }
  
  .theme-switcher label span:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .theme-switcher .slider {
    position: absolute;
    z-index: 1;
    width: calc((100% - 6px) / 3);
    top: 3px;
    transform: translatex(-110%);
    bottom: 3px;
    border-radius: 8px;
    transition: .30s ease, transform 0.25s ease-out;
    background-color: var(--c-bg-button);
  }
  
  .theme-switcher input:nth-of-type(1):checked ~ .slider {
    transform: translateX(0);
  }
  .theme-switcher input:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
  }
  .theme-switcher input:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
  }

  .menu-body {
    padding: 1rem;
    border-top: 1px solid var(--c-border-primary);
    transition: border-color .30s ease;
  }
  
  .menu-body a {
    text-align: center; 
    text-decoration: none;
    color: inherit;
    display: flex;
    padding: 0.6rem 0.5rem;
    border-radius: 4px;
    font-weight: 500;
    transition: .30s ease;
  }
   
  .menu-body a:hover {
    background-color: var(--c-bg-secondary);
  }
  
  ion-icon {
    margin-right: 5px;
    font-size: 20px;
    margin-top: 2px;
  }

  .menu-footer {
	width: 95vw;
	position: absolute;
	
  }

  .menu-footer-item-title {
	margin-top: 75px;
	height: 10vh;
	text-align: end;
	font-size: 1.2rem;
	font-weight: 700;
  }