*{
	margin: 0;
}
.header{
	width: 100vw;
	height: 15vh;
	background-color: #1f9f9f;
}
.content{
	width: 100vw;
	height: 85vh;
	background-color: whitesmoke;
	display: -webkit-box;
}
#display{
	background-color: #1f1f1f;
	border: 0.5vw solid whitesmoke;
	width: 64vw;
	height: 36vw;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
}
.time{
	background-color: #d2d2d2;
	border: 0.5px solid #1f1f1f;
	border-radius: 5px;
	font-size: 3.2vw;
	text-align: center;
	color: #ff6600;
}
.weather{
	grid-column: 2/-1;
	background-image: url("../ressources/weather_widget.png");
	background-size: 56vw;
}
.square1{
	background-color: #d2d2d2;
	border: 0.5px solid #1f1f1f;
	border-radius: 5px;
}
.square1:hover{
	background-color: #fff;
}

.square2{
	background-color: red;
	border: 0.5px solid #1f1f1f;
	border-radius: 5px;
}

.square2:hover{
	background-color: #d22d2d;
}



.news{
	width: 100%;

	background-color: #d2d2d2;
	border-top: 0.5px solid #1f1f1f;
	border-radius: 10px 10px 0 0;
	grid-column: 1/-1;
	grid-row: 8;
}

#sizes{
	width: 32vw;
	height: 5vh;
	margin-top: 1vh;
	color: #fff;
	background-color: #ff6600;
	border-radius: 5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 1.5vw;
	outline: none !important;
	cursor: pointer;
}
#rotate{
	height: 5vh;
	margin-top: 1vh;
	width: 5vh;
	color: #fff;
	background-color: #ff6600;
	border-radius: 5px;
	border: 1px solid #000;
}

#displayed{
	display: block;
	width: 32vw;
	height: 5vh;
	margin-top: 1vh;
	color: #fff;
	background-color: #ff6600;
	border-radius: 5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 1.5vw;
	outline: none !important;
	cursor: pointer;
}