* {
    margin: 0;
}

body {
    background-color: #23242a;
}

h1 {
    font-size: 6em;
    font-weight: bold;
    color: #ff6600;
    text-align: center;
    margin: 25px;
}

#choices {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
}

.choice {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    width: 50vh;
    height: 50vh;
    background-color: #d2d2d2;
    border: 2px solid #ff6600;
    font-size: 4.5em;
    font-family: monospace;
    text-align: center;
    cursor: pointer;
}

#one {
    grid-column: 2;
    justify-content: center;
}

#two {
    grid-column: 4;
}

p {
    grid-row: 2;
}

.code {
    display: none;
}

#random-code {
    margin-top: 150px;
    grid-row: 3;
}

#btnCO {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#btnCY {
    display: none;
    grid-template-columns: 3fr 4fr 4fr 3fr;
    grid-template-rows: 1fr;
    position: absolute;
    bottom: 8vh;
    width: 100vw;
}

#btnRS {
    grid-column: 2;
    border-radius: 5px 0 0 0;
}

#btnNM {
    height: 90%;
    border-radius: 0 5px 0 0;
    grid-column: 3;
    outline: none !important;
    font-size: 3vh;
}

button,
input {
    width: 100%;
    height: 8vh;
    font-size: 4vh;
    font-family: monospace;
    background-color: #d2d2d2;
    color: #23242a;
    border: 2px solid #ff6600;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    color: #fff;
}

#btnRT {
    grid-column: 1;
}

#btnRG {
    grid-column: 2;
}

#btnCN {
    grid-column: 3;
}